SECRET_KEY=change_me_to_long_random_secret
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,example.com,server_ip
CSRF_TRUSTED_ORIGINS=http://example.com,http://server_ip
DB_ENGINE=django.db.backends.postgresql
POSTGRES_DB=foodgram
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=strong_postgres_password
DB_HOST=db
DB_PORT=5432
LOAD_DEMO_DATA=true
DOCKER_USERNAME=your_dockerhub_login
